*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.h2{
    letter-spacing: 3px;
    text-transform: uppercase;
     

}

.h3{
    margin-left: 150px;
}


div{
    margin-top: 200px;
    margin-left: 550px;
}

 

.input{
    height: 50px;
    width: 500px;
    border-radius: 5px;
}


.input1{
    height: 50px;
    width: 500px;
    border-radius: 5px;
    background-color: rgb(132, 124, 139);
}

.button{
    height: 50px;
    width: 120px;
    border-radius: 5px;
     

}

body {
    background-image: url('bg.jpg');
}
